{% extends "base.html.twig" %}

{% block title %}Дашборд | Автоблокнот{% endblock %}

{% block headerline %}Дашборд{% endblock %}

{% block body %}
    <p>Разделы:</p>
    <nav>
        <ul>
            <li>
                <a href="{{ path('fuel_list') }}" title="Топливо">&#x26FD;</a>
            </li>
            <li>
                <a href="{{ path('order_list') }}" title="Заказы">&#x1F9FE;</a>
            </li>
            <li>
                <a href="/" title="СТО/Работа">&#x1F527;</a>
            </li>
            <li>
                <a href="/" title="Расходы">&#x1FA99;</a>
            </li>
        </ul>
    </nav>
    <p>Топливо:</p>
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Объём</th>
                <th></th>
                <th>АЗС</th>
                <th></th>
                <th>Авто</th>
                <th>Пробег</th>
            </tr>
        </thead>
        <tbody>
        {% if fuels|length > 0 %}
            {% for fuel in fuels %}
            <tr>
                <td>{{ fuel.date|date('Y-m-d') }}</td>
                <td>{{ fuel.value|number_format(2, '.', '') }}</td>
                <td>{{ fuel.type.name }}</td>
                <td>{{ fuel.station.name }}</td>
                <td>{{ fuel.cost.value|number_format(2, '.', '') }} {{ fuel.cost.currencyCode|currency_symbol }}</td>
                <td>{% if fuel.car %}{{ fuel.car.name }}{% else %}-{% endif %}</td>
                <td>{% if fuel.distance > 0 %}{{ fuel.distance }}{% else %}-{% endif %}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" style="text-align: center">Нет данных</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <p>
        Добавить запись &rarr; <a href="{{ path('fuel_add') }}">&#x26FD;</a>
    </p>
{% endblock %}
