{% extends "base.html.twig" %}

{% block title %}Настройки | Автоблокнот{% endblock %}

{% block headerline %}Настройки{% endblock %}

{% block body %}
    <p>Привязанный телеграм-аккаунт: {% if withCode %}&#x2705;{% else %}&#x274C;{% endif %}
        (<a href="{{ path('tg_connect') }}">Связать</a>)
    </p>
    <p>
        Мой гараж:
    </p>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Год выпуска</th>
                <th>VIN</th>
                <th>Добавлено</th>
            </tr>
        </thead>
        <tbody>
        {% if cars|length > 0 %}
            {% for car in cars %}
            <tr>
                <td>{{ car.name }}</td>
                <td>{% if car.default %}&#x2714;&#xFE0F;{% endif %}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.vin }}</td>
                <td>{{ car.createdAt|date('Y-m-d') }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" style="text-align: center">Нет данных</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <p>Валюта по умолчанию:
        {% if currency %}
            {{ currency.name }} ({{ currency.code|currency_symbol }})
        {% else %}
            ?
        {% endif %}
    </p>
{% endblock %}
