{% extends "base.html.twig" %}

{% block title %}Пробег | Автоблокнот{% endblock %}

{% block headerline %}Пробег{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Дата</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if items|length > 0 %}
            {% set idx = offset %}
            {% for item in items %}
                {% set idx = idx + 1 %}
                <tr>
                    <td class="idx">{{ idx }}</td>
                    <td>{{ item.date|date('Y-m-d') }}</td>
                    <td>{{ item.distance }}</td>
                    <td>{{ item.car.name }}</td>
                    <td>
                        &#x2027;
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8" style="text-align: center">Нет данных</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {{ pagination(items.paginationMeta, 'mileage_list') }}
    <p>
        Добавить запись &rarr; <a href="{{ path('mileage_add') }}">&#x1F6E3;&#xFE0F;</a>
    </p>
{% endblock %}
