<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<header>
    <h1>Автоблокнот</h1>
    <nav>
        <div>Навигация:
            <ul>
                <li>
                    <a href="/" title="Главная">&#x1F916;</a>
                </li>
                <li>
                    <a href="{{ path('dashboard') }}"
                       title="Дашборд">&#x1F4DD;</a>
                </li>
                <li>
                    <a href="{{ path('settings') }}"
                       title="Настройки">&#x2699;&#xFE0F;</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <h2>{% block headerline %}{% endblock %}</h2>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
        {% block body %}{% endblock %}
    </div>
</main>
<footer>
    <p>{{ footer_date() }} &#x1F310; <a href="https://xelbot.com" rel="author">Alexander Kharchenko</a></p>
</footer>
</body>
</html>
